.container {
    background-color: var(--grey-blue);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    font-size: 0.9rem;
}

.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
/* header */

.header {
    display: flex;
    color: rgb(32,33,36);
    align-items: center;
    margin-bottom: 7vh;
    padding: 0 0.5rem;
}

.title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-right: auto;
    gap: 1rem;
}

.title {
    margin: 0;
    font-size: 2.5em;
    line-height: 1em;
}
.subtitle {
    margin: 0;
    font-weight: 400;
    color: rgb(144, 149, 154);
}

.controls {
    display: flex;
    font-family: inherit;
}

.controls .filter {
    line-height: 1em;
    margin: auto 1rem auto 0;
    text-decoration: underline;
    color: var(--grey);
    cursor: pointer;
} 
.controls .new {
    color: aliceblue;
    background: #7D5DF9;
    border: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0.6rem 1rem;
    border-radius: 30px;
    cursor: pointer;
    font-family: inherit;
}

/* -- header */
.list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item_id {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1em;
    cursor: auto;
    color: black;
}
.item_id span {
    letter-spacing: 0px;
    color: grey;
    margin-right: 0.2rem;
    font-size: 1em;
}

.item_date {
    font-weight: 400;
    font-size: 1em;
    cursor: auto;
    margin: auto 0;
    color: rgb(180, 185, 190);
}

.item_name {
    font-weight: 400;
    margin-right: auto;
    width: 120px;
    color: var(--grey);
    cursor: auto;
}

.item_amount {
    font-size: 1.4em;
    font-weight: 600;
    margin: 0 auto 0 0;
    cursor: auto;
    color: black;
}

.item_status {
    background-color: rgba(189, 70, 57, 0.242);
    padding: 0.4rem 0;
    min-width: 5rem;
    width: 6rem;
    text-align: center;
    border-radius: 5px;
    display: flex;
    font-weight: 600;
    margin-left: auto;
}

.item_status span {
    margin: auto;
    cursor: pointer;
}

.dot {
    /* border-radius: 50%;
    background-color: white; */
    margin: auto 0.3rem auto 0;
}
.paid {
    background-color: #00C874;
    color: white;
    border-color: #00C874;
}
.pending {
    background-color: #ffac38;
    color: white;
    border-color: #ffac38;
}
.draft {
    background-color: #d6d6d6;
    color: white;
    border-color: #d6d6d6;
}

.invoice_item {
    list-style: none;
    margin: 0 0 0.5rem 0;
    padding: 0;
    color: var(--grey);
    display: flex;
    gap: 4vw;
    cursor: pointer;
    font-size: 1em;
    background-color: white;
    box-shadow: 0px 3px 3px 0px rgba(128, 128, 128, 0.149);
    padding: 1rem 1.8rem;
    border-radius: 5px;
    border-width: 0px;
    box-sizing: border-box;
    border-left-width: 8px;
    border-style: solid;
    align-items: center;
}

