.loading_wrapper {
    margin: auto;
    display: flex;
    position: absolute;
    padding-bottom: 5vh;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    background: linear-gradient(30deg, rgb(229, 236, 240), rgb(242, 242, 242));
}
.loading_logo {
    position: relative;
    font-size: 15vh;
    font-weight: 600;
    color: var(--purple);
    letter-spacing: -1px;
    margin: auto;
}

.loading_logo::after {
    position: absolute;
    content: 'DEMO';
    top: 15%;
    transform: rotate(0deg);
    right: -5%;
    font-size: 0.2em;
    color: black;
}