.container {
    margin: 0;
    height: 100%;
    width: 15vw;
    padding: 1.5em 0;
    display: flex;
    background-color: rgb(26, 26, 26);
    border-right: 1px solid var(--border-grey);
    flex-direction: column;
    z-index: 100;
    gap: 0.2rem;
    font-size: 1rem;
    /* border-radius: 0px 15px 15px 0px; */
}
.logo {
    position: relative;
    margin: 0 auto;
    color: rgb(246, 246, 246);
    font-family: Nunito;
    font-weight: 700;
    font-size: 1.6em;
    /* border-bottom: 5px solid rgb(153, 76, 226); */
}
.logo::after {
    position: absolute;
    top: 9%;
    left: -8px;
    right: 105%;
    bottom: 9%;
    border-radius: 10px;
    content: '';
    background-color: rgb(153, 76, 226);
}
.menu_wrapper {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.5em;
    color: white;
    padding: 0 1em;
    align-items: flex-start;
}
.menu_item {
    text-align: left;
    cursor: pointer;
    color: grey;
    font-weight: 400;
    font-size: 0.9em;
    margin-right: auto;
    width: 100%;
    display: flex;
    padding: 0.75em 0 0.75em 10%;
    border-radius: 10px;
    align-items: center;
}

.menu_item:hover {
    background-color: rgb(37, 37, 37);
}
.menu_item span {
    margin: auto 0 auto 5%;
}
.active  {
    background-color: rgb(44, 44, 44);
    
    color: rgb(153, 76, 226);
}
.active:hover {
    background-color: rgb(44, 44, 44);
}
.active span {
    color: var(--active-white);
    font-weight: 500;
}


.account {
    display: flex;
    margin-top: auto;
    width: 100%;
    align-items: flex-end;
    padding: 0 10%;
    color: grey;
    justify-content: space-between ;
}

.profile_wrapper {
    height: 2em;
    width: 2em;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--active-white);
}
.profile_wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.logout {
    margin: auto 0;
    text-decoration: underline;
}


@media only screen and (min-width: 2200px) {
    .container {
        font-size: max(32px, 1rem);
    }
}