.addForm {
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
    color: white;
}
.submit, .close {
    cursor: pointer;
    background-color: blue;
    padding: 0.5em;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    margin-top: auto;
}
.close {
    background-color: rgb(225, 225, 225);
    margin-top: 0; 
}
.submit {
    margin-top: auto;
}
.title {
    border: none;
    font-size: 1.4em;
    outline: none;
    background: none;
    margin-top: 1em;
    color: white;
    margin-bottom: calc(1em + 1px);
    border-bottom: 2px solid rgba(97, 97, 97, 0.341);
}
.title:focus {
    border-bottom: 2px solid rgb(41, 124, 226);
    margin-bottom: 1em;
}
.title::placeholder {
    color: grey;
    outline: none;
}
.userSelect {
    padding: 0.5em 3%;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
}


/* NOTE */

.note {
    font-size: 1.4rem;
    min-width: 10rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

/* TIME OFF */

.off_date {
    color: black;
}